{{ $item := . }}
<div class="article-container pt-3">
  <h1>{{ $item.Title }}</h1>

  {{ with $item.Params.authors }}
  <div class="article-metadata">
    <strong>Authors:</strong>
    {{ range $index, $author := . }}
      {{ if $index }}, {{ end }}
      {{- if eq $author "admin" -}}
        <a href="{{ site.BaseURL }}">Giuseppe Musillo</a>
      {{- else -}}
        {{- $authorURL := index site.Data.author_links $author -}}
        {{- if $authorURL -}}
          <a href="{{ $authorURL }}" target="_blank" rel="noopener">{{ $author }}</a>
        {{- else -}}
          {{ $author }}
        {{- end -}}
      {{- end -}}
    {{ end }}
  </div>
  {{ end }}

  {{ with $item.Params.abstract }}
    <div class="article-abstract mt-3">
      <h3>Abstract</h3>
      <p>{{ . | markdownify }}</p>
    </div>
  {{ end }}

  <div class="btn-links mt-3">
    {{ if $item.Params.url_pdf }}
      <a class="btn btn-outline-primary btn-page-header btn-sm" href="{{ $item.Params.url_pdf }}" target="_blank" rel="noopener">
        PDF
      </a>
    {{ end }}
    {{ range $item.Params.links }}
      <a class="btn btn-outline-primary btn-page-header btn-sm" href="{{ .url }}" target="_blank" rel="noopener">
        {{ .name }}
      </a>
    {{ end }}
  </div>
</div>
